<header class="w-full bg-white py-4 px-10">
  <div class="flex items-center max-w-[1135px] mx-auto">
    <a [routerLink]="['/', currentLang]" class="flex items-center cursor-pointer select-none"
      style="text-decoration: none;">
      <img class="w-[38px] h-[35px] object-cover" alt="SupportLink logo" src="assets/images/new-project-2.png" />
      <div class="ml-2 font-bold text-3xl">
        <span class="text-[#0f1416]">Support</span>
        <span class="text-[var(--main-color)]">Link</span>
      </div>
    </a>
    <nav class="ml-8 flex items-center">
      <ul class="flex flex-1 list-none items-center justify-center space-x-6 m-0 p-0">
        <li *ngFor="let item of menuItems; let i = index" class="relative">
          <a class="no-underline block px-4 text-gray-700 hover:bg-gray-100 cursor-pointer"
            [routerLink]="toggleDropdown(i,item.Url)" [attr.aria-expanded]="openIndex === i"
            [attr.aria-haspopup]="item.SubMenus ? 'menu' : null">
            {{ currentLang === 'en' ? item.TitleEn : item.Title }}
            <svg *ngIf="item.SubMenus && item.SubMenus.length > 0"
              class="relative top-[1px] ml-1 h-3 w-3 transition-transform duration-300"
              [ngClass]="{'rotate-180': openIndex === i}" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 9l6 6 6-6" />
            </svg>
          </a>
          <ul *ngIf="item.SubMenus && openIndex === i"
            class="absolute left-0 top-full mt-2 w-48 rounded-md bg-white shadow-lg z-20">
            <li *ngFor="let child of item.SubMenus">
              <a [routerLink]="child.Url"
                class="no-underline block px-4 py-2 text-gray-700 hover:bg-gray-100 cursor-pointer">
                {{ currentLang === 'en' ? child.TitleEn : child.Title }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="hidden lg:flex items-center gap-3 text-sm">
        <a [routerLink]="['/', currentLang === 'en' ? 'ar' : 'en']" [href]="'/' + (currentLang === 'en' ? 'ar' : 'en')"
          class="no-underline loginBtn px-6 py-3 text-base  transition border-0 font-inherit cursor-pointer no-underline"
          (click)="switchLanguage(currentLang === 'en' ? 'ar' : 'en')">
          {{ currentLang === 'en' ? 'عربي' : 'EN' }}
        </a>
      </div>
      <div class="hidden lg:flex items-center gap-3 text-sm">
        <a [routerLink]="['/', currentLang, 'login']" [href]="'/' + currentLang + '/login'"
          class="no-underline loginBtn px-6 py-3 text-base  transition border-0 font-inherit cursor-pointer no-underline">
          {{ 'AUTH.LOGIN' | translate }}
        </a>
      </div>
      <div class="hidden lg:flex items-center gap-3 text-sm">
        <a [routerLink]="['/', currentLang, 'signup']" [href]="'/' + currentLang + '/login'"
          class="no-underline bg-[var(--main-color)] rounded-[10px] signupBtn px-6 py-3 text-base  transition border-0 font-inherit cursor-pointer no-underline">
          {{ 'AUTH.SIGNUP' | translate }}
        </a>
      </div>
    </nav>
  </div>
</header>