<app-header></app-header>
<div class="min-h-screen bg-gray-50" [@routeAnimations]>
  <app-breadcrumbs></app-breadcrumbs>

  <main class="main-content bg-white overflow-hidden">
    <div class="container mx-auto px-4 py-8 max-w-1xl">
    <h4 class="text-gray-700 mb-4">{{ 'SEARCH_FOR_NCAGE.DESCRIPTION' | translate }}</h4>

      <!-- Form Container -->
      <div class="">
        <app-dynamic-form
          [config]="formConfig"
          (formSubmitted)="onFormSubmitted($event)"
          (formError)="onFormError($event)">
        </app-dynamic-form>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>