<app-header></app-header>
<div class="news-details-container" [@routeAnimations]>
  <app-breadcrumbs [items]="breadcrumbItem"></app-breadcrumbs>
  <main class="news-content bg-white overflow-hidden">
    <div #contentContainer class="container mx-auto px-1 py-8">

      <div *ngIf="imageToDisplay" class="image-modal">
        <div class="overlay" (click)="imageToDisplay = null"></div>
        <div class="image-container">
          <img [src]="imageToDisplay" alt="Preview" />
          <button (click)="imageToDisplay = null">{{'GENERAL.CLOSE' | translate}}</button>
        </div>
      </div>

      @if (content) {
      <article>

        <div class="prose max-w-none">
          <div class="text-gray-700 leading-relaxed space-y-4" [innerHTML]="content.Content"></div>
        </div>
      </article>
      } @else {
      <div class="space-y-8">
        <!-- Title Skeleton -->
        <ngx-skeleton-loader [theme]="{ height: '2.5rem', width: '80%', 'margin-bottom': '1.5rem' }" [count]="1"
          appearance="line">
        </ngx-skeleton-loader>

        <!-- Date Skeleton -->
        <ngx-skeleton-loader [theme]="{ height: '1rem', width: '20%', 'margin-bottom': '2rem' }" [count]="1"
          appearance="line">
        </ngx-skeleton-loader>

        <!-- Image Skeleton -->
        <ngx-skeleton-loader
          [theme]="{ height: '400px', width: '100%', 'margin-bottom': '2rem', 'border-radius': '0.75rem' }" [count]="1"
          appearance="line">
        </ngx-skeleton-loader>

        <!-- Content Summary Skeleton -->
        <ngx-skeleton-loader [theme]="{ height: '1.5rem', width: '100%', 'margin-bottom': '1rem' }" [count]="3"
          appearance="line">
        </ngx-skeleton-loader>

        <!-- Content Skeleton -->
        <ngx-skeleton-loader [theme]="{ height: '1.25rem', width: '100%', 'margin-bottom': '0.5rem' }" [count]="8"
          appearance="line">
        </ngx-skeleton-loader>
      </div>
      }
    </div>
  </main>
</div>
<app-footer></app-footer>