

<footer class="bg-[#344549] text-white py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
         <!-- شعار الوزارة -->
         <div class="flex-1 flex flex-col items-center justify-center text-center">
          <img src="/assets/images/mimLogoWhite.png" alt="MIM Logo" >
          <p class="text-sm">وزارة الصناعة والثروة المعدنية</p>
          <p class="text-xs mt-2">إحدى مبادرات الوزارة لتمكين الصناعة والثروة المعدنية</p>
        </div>
     

      <!-- الشركاء -->
      <div class="flex-1">
        <h2 class="text-xl font-bold mb-4 text-right">الشركاء</h2>
        <ul class="space-y-2 text-right">
          <li><a href="#" class="hover:underline">الهيئة الملكية للجبيل وينبع</a></li>
          <li><a href="#" class="hover:underline">هيئة الصادرات السعودية</a></li>
          <li><a href="#" class="hover:underline">هيئة المحتوى المحلي والمشتريات الحكومية</a></li>
          <li><a href="#" class="hover:underline">هيئة المساحة الجيولوجية السعودية</a></li>
          <li><a href="#" class="hover:underline">صندوق التنمية الصناعية السعودي</a></li>
          <li><a href="#" class="hover:underline">برنامج تطوير الصناعة والخدمات اللوجستية</a></li>
          <li><a href="#" class="hover:underline">بنك التصدير والاستيراد السعودي</a></li>
          <li><a href="#" class="hover:underline">مدن</a></li>
          <li><a href="#" class="hover:underline">المركز الصناعي</a></li>
        </ul>
      </div>

    <!-- روابط تهمك -->
    <div class="flex-1">
      <h2 class="text-xl font-bold mb-4 text-right">روابط تهمك</h2>
      <ul class="space-y-2 text-right">
        <li><a href="#" class="hover:underline">التوظيف</a></li>
        <li><a href="#" class="hover:underline">منصة صناعي</a></li>
        <li><a href="#" class="hover:underline">منصة تعدين</a></li>
        <li><a href="#" class="hover:underline">الأسئلة الشائعة</a></li>
        <li><a href="#" class="hover:underline">خريطة الموقع</a></li>
        <li><a href="#" class="hover:underline">اتصل بنا</a></li>
      </ul>
    </div>

    </div>

    <!-- الفاصل -->
    <div class="border-t border-gray-600 mt-8 pt-4 text-center text-sm">
      جميع الحقوق محفوظة  المركز الوطني للمعلومات الصناعية والتعدينية
    </div>
  </div>
</footer>
