<aside class="w-72 bg-white flex flex-col py-8 px-6 shadow-md">
  <div class="flex items-center mb-12">
    <img src="assets/images/logo.png" alt="SupportLink logo" class="w-10 h-10" />
    <span class="ml-2 text-2xl font-bold">
      <span class="text-[#0f1416]">{{ 'GENERAL.SUPPORT' | translate }}</span><span class="text-[var(--main-color)]">{{
        'GENERAL.LINK' | translate }}</span>
    </span>
  </div>
  <nav class="flex-1">
    <ul class="space-y-2">
      <li>
        <a routerLink="/{{currentLang}}/dashboard" [class.bg-orange-50]="active === 'DASHBOARD'"
          [class.text-orange-600]="active === 'DASHBOARD'"
          class="flex items-center px-4 py-3 rounded-lg   font-semibold">
          <i class="fa fa-th-large mr-2"></i> {{ 'DASHBOARD.TITLE' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/{{currentLang}}/dashboard/requests" [class.bg-orange-50]="active === 'MY-REQUESTS'"
          [class.text-orange-600]="active === 'MY-REQUESTS'"
          class="flex items-center px-4 py-3 rounded-lg hover:bg-gray-100">
          <i class="fa fa-list mr-2"></i> {{ 'DASHBOARD.MY_REQUESTS' | translate }}
          <span class="ml-auto bg-orange-500 text-white rounded-full px-2 py-0.5 text-xs">3</span>
        </a>
      </li>
      <li>
        <a routerLink="/{{currentLang}}/dashboard/notifications" [class.bg-orange-50]="active === 'NOTIFICATIONS'"
          [class.text-orange-600]="active === 'NOTIFICATIONS'"
          class="flex items-center px-4 py-3 rounded-lg hover:bg-gray-100">
          <i class="fa fa-bell mr-2"></i> {{ 'DASHBOARD.NOTIFICATIONS' | translate }}
          <span class="ml-auto bg-orange-500 text-white rounded-full px-2 py-0.5 text-xs">16</span>
        </a>
      </li>
      <li>
        <a routerLink="/{{currentLang}}/dashboard/settings" [class.bg-orange-50]="active === 'SETTINGS'"
          [class.text-orange-600]="active === 'SETTINGS'"
          class="flex items-center px-4 py-3 rounded-lg hover:bg-gray-100">
          <i class="fa fa-cog mr-2"></i> {{ 'DASHBOARD.SETTINGS' | translate }}
        </a>
      </li>
    </ul>
  </nav>
  <a class="flex items-center mt-12 text-red-400 hover:text-red-600">
    <i class="fa fa-sign-out-alt mr-2"></i> {{ 'DASHBOARD.LOGOUT' | translate }}
  </a>
</aside>