<!-- <div class="news-details-container" *ngIf="newsItem">
  <div class="news-header">
    <h1 class="news-title">{{ newsItem.title }}</h1>
    <div class="news-meta">
      <span class="news-date">{{ newsItem.publishedDate | date:'mediumDate' }}</span>
      <span class="news-author" *ngIf="newsItem.author">By {{ newsItem.author }}</span>
    </div>
  </div>

  <div class="news-content">
    <div class="news-image" *ngIf="newsItem.imageUrl">
      <img [src]="newsItem.imageUrl" [alt]="newsItem.title">
    </div>
    <div class="news-description">
      {{ newsItem.description }}
    </div>
    <div class="news-body" *ngIf="newsItem.content">
      {{ newsItem.content }}
    </div>
  </div>

  <div class="news-footer" *ngIf="newsItem.source">
    <span class="news-source">Source: {{ newsItem.source }}</span>
  </div>
</div>  -->