.map {
    position: relative;
    left: 0rem;
    right: 0;
    margin: 0 auto;
    top: 0 !important;
    margin-top: 0rem;
    width: 100% !important;
    text-align: center;
    max-width: fit-content;
}
.text-layer h2 {
    background: #fdfdfdc7;
    padding: 0.5rem;
}
.person {
    position: absolute;
    z-index: 999;
    width: 40%;
    margin-top: 0rem;
        left: 10rem;
}