<!-- Import Swiper styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<div class="flex flex-col md:flex-row items-center justify-between container mx-auto p-6">
  <!-- Text Section -->
  <div class="w-full md:w-1/2 mt-6 md:mt-0 md:pr-12">
    @if (loading) {
      <div class="banner-loading">
        <div class="animate-spin h-12 w-12 border-b-2 border-gray-900 mx-auto"></div>
        <p class="mt-4 text-gray-600">Loading...</p>
      </div>
    }

    @if (error) {
      <div class="banner-error text-center py-8 text-red-600">
        {{ error }}
      </div>
    }

    @if (!loading && !error && slides.length > 0) {
      <h2 class="text-3xl font-bold text-gray-900 mb-4">
        {{ slides[currentSlideIndex].title | translate }}
      </h2>
      <p class="text-gray-700 mb-6 leading-loose hidden md:block">
        {{ slides[currentSlideIndex].description }}
      </p>
    <!--   <a [href]="slides[currentSlideIndex].link" 
         class="inline-block bg-[var(--color-nimicgreen)] text-white px-6 py-3 -md hover:bg-gray-800 transition-colors duration-300">
        {{ 'GENERAL.MORE' | translate }}
      </a> -->

      <!-- Dots -->
      <div class="flex justify-start space-x-4 space-x-reverse mt-6">
        @for (slide of slides; track slide; let i = $index) {
          <span class="w-4 h-4 -full cursor-pointer transition-colors duration-300 p-2"
                [ngClass]="{'bg-[var(--color-nimicgreen)]': i === currentSlideIndex, 'bg-gray-300': i !== currentSlideIndex}"
                (click)="swiper?.slideTo(i)"
                role="button"
                [attr.aria-label]="'Go to slide ' + (i + 1)"
                tabindex="0"
                (keyup.enter)="swiper?.slideTo(i)">
          </span>
        }
      </div>
    }
  </div>

  <!-- Image Section -->
  <div class="relative w-full md:w-1/2">
    <div class="banner-image-container py-3 h-[20rem] md:h-[30rem]">
      @if (loading) {
        <div class="banner-loading">
          <div class="animate-spin h-12 w-12 border-b-2 border-gray-900 mx-auto"></div>
          <p class="mt-4 text-gray-600">Loading...</p>
        </div>
      }

      @if (error) {
        <div class="banner-error text-center py-8 text-red-600">
          {{ error }}
        </div>
      }

      @if (!loading && !error && slides.length > 0) {
        <div class="swiper banner-swiper">
          <div class="swiper-button-prev p-4" role="button" aria-label="Previous slide" tabindex="0"></div>
          <div class="swiper-wrapper">
            @for (slide of slides; track slide) {
              <div class="swiper-slide">
                <img [src]="slide.imageUrl" [alt]="slide.title" class="w-full h-full object-cover" />
              </div>
            }
          </div>
          <div class="swiper-button-next p-4" role="button" aria-label="Next slide" tabindex="0"></div>
        </div>
      }
    </div>
  </div>
</div>
