<footer class="w-full bg-[#4e5664] py-16 lg:px-40 md:px-10 px-4">
  <div class="container mx-auto px-4 flex flex-wrap justify-between">
    <div class="w-full md:w-1/4 mb-8 md:mb-0">
      <div class="flex flex-col items-center md:items-center">
        <img class="w-[298px] h-auto mb-6 object-cover" alt="Signtech Logo"
          src="assets/images/freewhite2png-1.png" />
        <p class="font-['Rubik',Helvetica] text-[#afb5c0] text-base text-center md:text-center">
          ©{{ currentYear }} Support <span class="font-bold">Link</span>
        </p>
      </div>
    </div>
    <ng-container *ngFor="let section of footer">
      <div class="w-full md:w-1/6 mb-8 md:mb-0">
        <h3 class="font-['Rubik',Helvetica] font-medium text-[var(--main-color)] text-lg mb-6">
          {{ currentLanguage === 'en' ? section.TitleEn : section.Title }}
        </h3>
        <nav>
          <ul class="space-y-4">
            <li *ngFor="let link of section.SubMenus">
              <a [href]="link.Url"
                class="font-['Rubik',Helvetica] font-normal text-[#dae0ed] text-base hover:text-white transition-colors">
                {{ currentLanguage === 'en' ? link.TitleEn : link.Title }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </ng-container>
  </div>
</footer>