<div class="flex min-h-screen bg-[#f7f8fa]">
  <dashboard-side-bar [active]="'MY-REQUESTS'"></dashboard-side-bar>
  <main class="flex-1 flex flex-col px-16 py-10">
    <dashboard-header [title]="'DASHBOARD.MY_REQUESTS' | translate"></dashboard-header>
    <div class="mb-8">
      <div class="text-lg font-semibold mb-4">{{ 'DASHBOARD.REQUESTS_SUMMARY' | translate }}</div>
      <div class="grid grid-cols-2 gap-8">
        <div class="bg-white rounded-xl p-6 shadow flex flex-col">
          <div class="flex items-center mb-4">
            <i class="fa fa-list-alt text-2xl text-orange-500 mr-2"></i>
            <span class="font-bold">{{ 'DASHBOARD.THIS_WEEK' | translate }}</span>
          </div>
          <div class="flex justify-between">
            <div>
              <div class="text-xs text-gray-400">{{ 'DASHBOARD.ALL_REQUESTS' | translate }}</div>
              <div class="text-lg font-bold">0</div>
            </div>
            <div>
              <div class="text-xs text-gray-400">{{ 'DASHBOARD.PENDING' | translate }}</div>
              <div class="text-lg font-bold">0</div>
            </div>
            <div>
              <div class="text-xs text-gray-400">{{ 'DASHBOARD.COMPLETED' | translate }}</div>
              <div class="text-lg font-bold">0 <span class="text-green-500 text-xs">+0.00%</span></div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded-xl p-6 shadow flex flex-col">
          <div class="flex items-center mb-4">
            <i class="fa fa-list-alt text-2xl text-orange-500 mr-2"></i>
            <span class="font-bold">{{ 'DASHBOARD.THIS_WEEK' | translate }}</span>
          </div>
          <div class="flex justify-between">
            <div>
              <div class="text-xs text-gray-400">{{ 'DASHBOARD.ALL_REQUESTS' | translate }}</div>
              <div class="text-lg font-bold">0</div>
            </div>
            <div>
              <div class="text-xs text-gray-400">{{ 'DASHBOARD.PENDING' | translate }}</div>
              <div class="text-lg font-bold">0</div>
            </div>
            <div>
              <div class="text-xs text-gray-400">{{ 'DASHBOARD.COMPLETED' | translate }}</div>
              <div class="text-lg font-bold">0 <span class="text-green-500 text-xs">+0.00%</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto rounded-lg shadow-sm bg-white">
      <table class="min-w-full text-sm">
        <thead>
          <tr class="bg-gray-50 border-b border-gray-200">
            <th class="px-4 py-3"><input type="checkbox" /></th>
            <th class="px-4 py-3 text-left">{{ 'REQUESTS.TITLE' | translate }}</th>
            <th class="px-4 py-3 text-left">{{ 'REQUESTS.REQUEST_DATE' | translate }}</th>
            <th class="px-4 py-3 text-left">{{ 'REQUESTS.CATEGORY' | translate }}</th>
            <th class="px-4 py-3 text-left">{{ 'REQUESTS.TRACKING_ID' | translate }}</th>
            <th class="px-4 py-3 text-left">{{ 'REQUESTS.PRICE' | translate }}</th>
            <th class="px-4 py-3 text-left">{{ 'REQUESTS.STATUS' | translate }}</th>
            <th class="px-4 py-3 text-left">{{ 'REQUESTS.DETAILS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (request of requests; track request.Id; let i = $index) {
          <tr [class]="i % 2 === 0 ? 'bg-white' : 'bg-gray-50'">
            <td class="px-4 py-3"><input type="checkbox" /></td>
            <td class="px-4 py-3">{{ currentLang === 'en' ? request.Service.En : request.Service.Ar }}</td>
            <td class="px-4 py-3">{{ request.ContactDate | date:'dd-MM-yyyy' }}</td>
            <td class="px-4 py-3">{{ currentLang === 'en' ? request.Category.En : request.Category.Ar }}</td>
            <td class="px-4 py-3 flex items-center gap-2">
              {{ request.Id }}
              <button class="text-gray-400 hover:text-gray-600" (click)="copyToClipboard(request.Id)">
                <i class="fa fa-copy"></i>
              </button>
            </td>
            <td class="px-4 py-3 ">
              <div class="flex items-center">
                <img class="w-3.5 h-4 mr-2" alt="Price icon" src="assets/images/riyal.png" />
                <span class=" text-[#1e1e1e] text-base">
                  {{ request.Price }}
                </span>
              </div>
            </td>
            <td class="px-4 py-3">
              <span [ngClass]="{
                  'bg-green-100 text-green-700': request.Status.Id === RequestStatusEnum.Completed,
                  'bg-yellow-100 text-yellow-700': request.Status.Id === RequestStatusEnum.New,
                  'bg-red-100 text-red-700': request.Status.Id === RequestStatusEnum.Cancelled,
                  'bg-orange-100 text-orange-700': request.Status.Id === RequestStatusEnum.Pending,
                  'bg-purple-100 text-purple-700': request.Status.Id === RequestStatusEnum.InProgress
                }" class="px-3 py-1 rounded-full text-xs font-semibold">
                {{ currentLang === 'en' ? request.Status.En : request.Status.Ar }}
              </span>
            </td>
            <div class="pt-2">
              <button
                class="ml-4 px-6 py-2 rounded-full border border-[var(--main-color)] bg-white text-[var(--main-color)] font-semibold hover:bg-[var(--main-color)] hover:text-white transition cursor-pointer"
                (click)="openRequestDetailsModal(request.Id)">
                {{ 'REQUESTS.DISPLAY' | translate }}
              </button>
            </div>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    @if (totalPages > 1) {
    <div class="flex justify-center mt-12">
      <nav class="flex items-center" aria-label="Pagination">
        @for (page of getPages(); track page) {
        <button (click)="onPageChange(page)" [class.bg-[var(--main-color)]]="currentPage === page"
          [class.text-white]="currentPage === page" [class.border-[var(--main-color)]]="currentPage === page"
          [class.pointer-events-none]="currentPage === page"
          class="px-4 py-2 hover:bg-orange-600 transition-all duration-300 min-w-[40px] border border-transparent mx-1.5 cursor-pointer"
          [attr.aria-current]="currentPage === page ? 'page' : null">
          {{ page }}
        </button>
        }
      </nav>
    </div>
    }
  </main>
</div>


@if (isRequestDetailsModalOpen && selectedRequest) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg max-w-lg w-full p-8 relative animate-fade-in">
    <h2 class="text-xl font-bold mb-4 text-center">{{ 'REQUESTS.DETAILS' | translate }}</h2>
    <div class="space-y-2">
      <div><span class="font-semibold">{{ 'REQUESTS.TITLE' | translate }}: </span> {{ currentLang === 'en' ?
        selectedRequest.Service.En : selectedRequest.Service.Ar }}
      </div>
      <div><span class="font-semibold">{{ 'REQUESTS.DESCRIPTION' | translate }}: </span> {{
        selectedRequest.Description }}
      </div>
      <div><span class="font-semibold">{{ 'REQUESTS.PRIORITY' | translate }}: </span>
        <span [ngClass]="{
                  'bg-red-100 text-red-700': selectedRequest.Priority.Id === RequestPriorityEnum.Urgent,
                  'bg-purple-100 text-purple-700': selectedRequest.Priority.Id === RequestPriorityEnum.High,
                  'bg-yellow-100 text-yellow-700': selectedRequest.Priority.Id === RequestPriorityEnum.Medium,
                  'bg-green-100 text-green-700': selectedRequest.Priority.Id === RequestPriorityEnum.Low
                }" class="px-3 py-1 rounded-full text-xs font-semibold">
          {{ currentLang === 'en' ? selectedRequest.Priority.En : selectedRequest.Priority.Ar }}
        </span>
      </div>
      <div><span class="font-semibold">{{ 'REQUESTS.REQUEST_DATE' | translate }}: </span>
        {{ selectedRequest.ContactDate | date:'dd-MM-yyyy' }}</div>
      <div><span class="font-semibold">{{ 'REQUESTS.REQUEST_TIME' | translate }}: </span>
        {{ currentLang === 'en' ?
        selectedRequest.ContactTime.En : selectedRequest.ContactTime.Ar }}</div>
      <div><span class="font-semibold">{{ 'REQUESTS.CATEGORY' | translate }}: </span>
        {{ currentLang === 'en' ? selectedRequest.Category.En : selectedRequest.Category.Ar }}</div>
      <div><span class="font-semibold">{{ 'REQUESTS.TRACKING_ID' | translate }}: </span>
        {{selectedRequest.Id}}</div>
      <div><span class="font-semibold">{{ 'REQUESTS.PRICE' | translate }}: </span><span
          class=" text-[#1e1e1e] text-base">
          {{ selectedRequest.Price }}
        </span>
        <img class="w-3.5 h-4 mr-2" alt="Price icon" src="assets/images/riyal.png" />
      </div>
      <div><span class="font-semibold">{{ 'REQUESTS.STATUS' | translate }}: </span>
        <span [ngClass]="{
                  'bg-green-100 text-green-700': selectedRequest.Status.Id === RequestStatusEnum.Completed,
                  'bg-yellow-100 text-yellow-700': selectedRequest.Status.Id === RequestStatusEnum.New,
                  'bg-red-100 text-red-700': selectedRequest.Status.Id === RequestStatusEnum.Cancelled,
                  'bg-orange-100 text-orange-700': selectedRequest.Status.Id === RequestStatusEnum.Pending,
                  'bg-purple-100 text-purple-700': selectedRequest.Status.Id === RequestStatusEnum.InProgress
                }" class="px-3 py-1 rounded-full text-xs font-semibold">
          {{ currentLang === 'en' ? selectedRequest.Status.En : selectedRequest.Status.Ar }}
        </span>
      </div>
      <!-- Status History Section as Table -->
      <div>
        <span class="font-semibold">{{ 'REQUESTS.STATUS_HISTORY' | translate }}:</span>
        <table class="min-w-full mt-2 text-sm border rounded">
          <thead>
            <tr class="bg-gray-50">
              <th class="px-3 py-2 text-left">{{ 'REQUESTS.STATUS' | translate }}</th>
              <th class="px-3 py-2 text-left">{{ 'REQUESTS.CHANGED_BY' | translate }}</th>
              <th class="px-3 py-2 text-left">{{ 'REQUESTS.CHANGED_DATE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of selectedRequest.StatusHistory">
              <td class="px-3 py-2 font-semibold">
                {{ currentLang === 'en' ? history.Status.En : history.Status.Ar }}
              </td>
              <td class="px-3 py-2">
                {{ history.ChangedBy }}
              </td>
              <td class="px-3 py-2">
                {{ history.ChangedDate | date:'dd-MM-yyyy HH:mm' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Attachments Section -->
      <div class="mt-4">
        <span class="font-semibold">{{ 'REQUESTS.ATTACHMENTS' | translate }}:</span>
        <ul class="mt-2 space-y-1">
          <li *ngFor="let att of selectedRequest.Attachments">
            <ng-container [ngSwitch]="true">
              <!-- Image preview -->
              <ng-container *ngSwitchCase="att.ContentType.startsWith('image/')">
                <img [src]="'data:' + att.ContentType + ';base64,' + att.Content" [alt]="att.FileName"
                  class="max-h-32 rounded shadow border mb-1" />
                <div class="text-xs text-gray-500">{{ att.FileName }}</div>
              </ng-container>
              <!-- PDF or Word download link -->
              <ng-container
                *ngSwitchCase="att.ContentType === 'application/pdf' || att.ContentType === 'application/msword' || att.ContentType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                <a [href]="'data:' + att.ContentType + ';base64,' + att.Content" [download]="att.FileName"
                  target="_blank" class="text-blue-600 underline flex items-center gap-1">
                  <i class="fa fa-file-pdf-o" *ngIf="att.ContentType === 'application/pdf'"></i>
                  <i class="fa fa-file-word-o" *ngIf="att.ContentType !== 'application/pdf'"></i>
                  {{ att.FileName }}
                </a>
                <span class="text-gray-500">({{ att.ContentType }})</span>
              </ng-container>
              <!-- Other file types: just show download link -->
              <ng-container *ngSwitchDefault>
                <a [href]="'data:' + att.ContentType + ';base64,' + att.Content" [download]="att.FileName"
                  target="_blank" class="text-blue-600 underline">
                  {{ att.FileName }}
                </a>
                <span class="text-gray-500">({{ att.ContentType }})</span>
              </ng-container>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-actions mt-6 flex gap-4 justify-end">
      <button type="button" (click)="closeRequestDetailsModal()"
        class="ml-4 px-6 py-2 rounded-full border border-[var(--main-color)] bg-white text-[var(--main-color)] font-semibold hover:bg-[var(--main-color)] hover:text-white transition cursor-pointer">
        {{ 'GENERAL.CLOSE' | translate }}
      </button>
    </div>
  </div>
</div>
}