<nav class="flex items-center">
  <ul class="flex flex-1 list-none items-center justify-center space-x-6 m-0 p-0">
    <li *ngFor="let item of menuItems; let i = index" class="relative">
      <a class="block px-4 py-2 text-gray-700 hover:bg-gray-100" (click)="toggleDropdown(i)"
        [attr.aria-expanded]="openIndex === i" [attr.aria-haspopup]="item.subMenus ? 'menu' : null">
        {{ item.title }}
        <svg *ngIf="item.subMenus" class="relative top-[1px] ml-1 h-3 w-3 transition-transform duration-300"
          [ngClass]="{'rotate-180': openIndex === i}" fill="none" stroke="currentColor" stroke-width="2"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 9l6 6 6-6" />
        </svg>
      </a>
      <ul *ngIf="item.subMenus && openIndex === i"
        class="absolute left-0 top-full mt-2 w-48 rounded-md bg-white shadow-lg z-20">
        <li *ngFor="let child of item.subMenus">
          <a [routerLink]="child.url" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">{{ child.title }}</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="hidden lg:flex items-center gap-3 text-sm">
    <a [routerLink]="['/', currentLang === 'en' ? 'ar' : 'en']" [href]="'/' + (currentLang === 'en' ? 'ar' : 'en')"
      class="loginBtn px-6 py-3 text-base  transition border-0 font-inherit cursor-pointer no-underline"
      (click)="switchLanguage(currentLang === 'en' ? 'ar' : 'en')">
      {{ currentLang === 'en' ? 'عربي' : 'EN' }}
    </a>
  </div>

  <div class="hidden lg:flex items-center gap-3 text-sm">
    <a [routerLink]="['/', currentLang, 'login']" [href]="'/' + currentLang + '/login'"
      class="loginBtn px-6 py-3 text-base  transition border-0 font-inherit cursor-pointer no-underline">
      {{ 'AUTH.LOGIN' | translate }}
    </a>
  </div>
  <div class="hidden lg:flex items-center gap-3 text-sm">
    <a [routerLink]="['/', currentLang, 'signup']" [href]="'/' + currentLang + '/login'"
      class="bg-[#ff6800] rounded-[10px] signupBtn px-6 py-3 text-base  transition border-0 font-inherit cursor-pointer no-underline">
      {{ 'AUTH.SIGNUP' | translate }}
    </a>
  </div>
</nav>