#marsadHome {
    background-image: url('../../../../assets/images/marsadShape.svg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.marsadTitleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.marsadTitle {
    display: inline-block;
    background: #fff;
    padding: .5rem 1.5rem;
    min-width: 12rem;
    text-align: center;
    color: var(--color-nimicgreen);
    font-weight: 500;
  
}

.marsadSubTitle {
    background: #E6E6E6;
    padding: .5rem 1.5rem;
    margin-inline-start: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem !important;
}

.marsadLink {
    
}