<section id="marsadHome" class="relative w-full bg-[#E3DDDC] -lg p-8 overflow-hidden h-auto md:h-[60vh]">

  <div class="container mx-auto px-4 h-full flex items-center">

    <div class="flex flex-col md:flex-row md:items-center md:justify-between relative z-10">
      <!-- Right Title -->
      <div class="md:w-1/2 text-right marsadTitleSection">

        <h1 class="marsadTitle text-4xl md:text-5xl font-extrabold tracking-wide">
          {{ 'MARSAD.TITLE' | translate }}
        </h1>

        <h2 class="marsadSubTitle">
          {{ 'MARSAD.SUBTITLE' | translate }}
        </h2>

        <a [routerLink]="'/marsad'"
          class="marsadLink inline-block bg-white font-semibold px-6 py-3 -md shadow hover:bg-gray-50 transition">
          {{ 'MARSAD.MORE' | translate }}
        </a>

      </div>
      <!-- Left Text -->
      <div class="md:w-1/2 text-right space-y-4 mb-8 md:mb-0">
        <p class="text-lg leading-relaxed">
          {{ 'MARSAD.DESCRIPTION' | translate }}
        </p>
      </div>
    </div>

  </div>

</section>