<app-header></app-header>

<main class="main-content">
  <!-- Banner Section -->
  <section class="banner-section">
    <app-banner></app-banner>
  </section>

  <!-- Charts Section -->
<!--   <section class="charts-section">
    <app-charts-home></app-charts-home>
  </section> -->

  <!-- Featured Services Section -->
  <section class="featured-services-section">
    <app-featured-services></app-featured-services>
  </section>

  <!-- Latest News Section -->
  <section class="latest-news-section">
    <app-latest-news></app-latest-news>
  </section>

  <!-- Marsad Section -->
  <section class="marsad-section">
    <app-marsad-home></app-marsad-home>
  </section>



</main>

<app-footer></app-footer>