<section class="w-full py-16 md:py-24">
  <div class="container flex items-center justify-center">
    <div class="flex items-center">
      <img [src]="heroItems[currentSlide].image" alt="Hero" class="w-64 h-64 mr-8 object-cover" />
      <h1
        class="font-['DM_Serif_Display',Helvetica] text-4xl md:text-5xl lg:text-[50px] font-normal leading-tight md:leading-[70px] max-w-[555px]">
        <span class="text-[#0b132a]">{{ heroItems[currentSlide].title }}</span>
        <span class="text-[var(--main-color)]">{{ heroItems[currentSlide].highlight }}</span>
        <span class="text-[#ffb47f]">{{ heroItems[currentSlide].dot }}</span>
      </h1>
    </div>
  </div>
  <div class="flex justify-center mt-6 space-x-2">
    <button *ngFor="let item of heroItems; let i = index" (click)="goToSlide(i)"
      class="w-4 h-4 rounded-full border border-[var(--main-color)] transition-colors" [ngClass]="{
      'bg-[var(--main-color)]': i === currentSlide,
      'bg-white': i !== currentSlide
    }"></button>
  </div>
</section>